.loginForm {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.loginForm div {
    margin-bottom: 15px;
}

.loginForm label {
    display: block;
    margin-bottom: 5px;
}

.loginForm input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.loginForm button {
    width: 100%;
    padding: 10px;
    background-color: #ffc4f7;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.loginForm button:hover {
    background-color: #ff1389;
    color: white;}