.contactForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .contactForm input,
  .contactForm button {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .contactForm button {
    background-color:#FF69B4;
    color: white;
    cursor: pointer;
  }
  
  .contactForm button:hover {
    background-color:#e2347a; 
  }