.signUpForm {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .signUpForm div {
    margin-bottom: 15px;
  }
  
  .signUpForm label {
    display: block;
    margin-bottom: 5px;
  }
  
  .signUpForm input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Makes sure padding does not affect the total width */
  }
  
  .signUpForm button {
    width: 100%;
    padding: 10px;
    background-color: #ffc4f7;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signUpForm button:hover {
    background-color: #ff1389;
    color: white;
  }
  