.contactList {
    list-style: none;
    padding: 0;
  }
  
  .contactList li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contactList button {
    cursor: pointer;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
  }
  .contactList button:hover {
    background-color: #920312;


  }